/* typography */

body {
    color: #444;
    font-family: Georgia, 'Times New Roman', serif;
}

article h1 {
    color: #666;
    font-size: 2em;
}

header a {
    color: #333;
}

a:link, a:visited {
    text-decoration: none;
}

time[pubdate] {
    font-size: 1.2em;
    font-style: italic;
}

.hd-title {
    font-weight: bold;
    font-size: 6em;
}

/* layout */

article header {
    padding: 1em 0;
}