/* typography */
body {
  color: #444;
  font-family: "Helvetica Neue", Arial, Helvetica, san-serif;
  font-size: 16px;
}

article {
  line-height: 1.5em;
}

article h1 {
  line-height: 1.1em;
}

header,
header a {
  color: #222;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover {
  color: #6D93F7;
}

time[pubdate] {
  font-size: .8em;
  font-style: italic;
}

.hd-blurb {
  color: #ccc;
  font-size: 1em;
}

blockquote,
blockquote pre {
  color: #888;
  font-family: Georgia, FreeSerif, serif;
}

/* layout */
header.banner {
  padding-top: 50px;
  position: fixed;
  width: 27%;
  min-width: 240px;
  padding-left: 2%;
  min-height: 100%;
}

header ul {
  list-style-type: none;
}

aside.social-badges {
  position: fixed;
  left: 1%;
  bottom: 40px;
}

aside.social-badges li {
  display: inline-block;
}

.icon-xlarge {
  font-size: 32px;
}

section.main {
  border-left: solid 1px #DDD;
  background-color: white;
  z-index: 999;
  padding-top: 40px;
  padding-bottom: 100px;
  position: relative;
  min-width: 700px;
  margin-left: 27%;
}

article {
  margin-left: 48px;
  max-width: 500px;
}
article h1 {
  margin-bottom: 10px;
}

.cite:before {
  content: '\2014';
  margin-right: 3px;
}

blockquote {
  padding-left: 2em;
  border-left: 3px solid #DDD;
}
