<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <meta name="author" content="Tim Tsu" />
        <link rel="icon" type="image/png" href="http://www.gravatar.com/avatar/6e3f3067d4841c31f11c1afaa445a995?s=16" />
        <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">
        {% include analytics %}
    </head>
    <body>
        <header class="banner">
            <ul>
                <li class="hd-title"><h1><a href="/">Tim Tsu</a></h1></li>
                <li class="hd-blurb"><h2>Hello.</h2></li>
            </ul>
            <aside class="social-badges">
                <ul>
                    <li><a href="http://github.com/ttsu"><i class="icon-xlarge icon-github-sign"></i></a></li>
                    <li><a href="http://linkedin.com/in/timtsu"><i class="icon-xlarge icon-linkedin-sign"></i></a></li>
                    <li><a href="http://twitter.com/timtsu"><i class="icon-xlarge icon-twitter-sign"></i></a></li>
                </ul>
            </aside>
        </header>
        <section class="main">
        {{ content }}
        </section>
    </body>
</html>
